***********************************************************************************************************************************
*                                                                                                                                 *
* DRILL TAPE SUMMARY REPORT                                                                                                       *
*                                                                                                                                 *
* E:\MUSHTAQ PCB\SAJJAD HUSSAIN\PROGRAMMABLE GPIO72 CARD\PROGRAMMABLE_GPIO72_CARD_REV2 11-09-2012\PROGRAMMABLE_GPIO72_CARD-9.MAX  *
* Thu Sep 13 09:00:31 2012                                                                                                        *
*                                                                                                                                 *
***********************************************************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       160      332      200      100                                                                                 
T2       280      6        200      100                                                                                 
T3       310      6        200      100                                                                                 
T4       340      81       200      100                                                                                 
T5       350      24       200      100                                                                                 
T6       360      15       200      100                                                                                 
T7       370      150      200      100                                                                                 
